<div class="block v-padding">
    <a href="#" class="link">Dashboard</a>
    <a href="#" class="link">Contacts</a>
    <a href="#" class="link">Notifications</a>
    <div class="row">
        <span class="text">&#169; 2015 Contactify</span>
        <a href="#" class="link">About</a>
        <a href="#" class="link">Privacy</a>
    </div>
</div>
<div class="block">
    <div class="row-block">
        <fa name="cloud-upload"></fa>
        <div class="column">
            <span>Last synced:</span>
            <span>2015-06-02 14:33:00</span>
        </div>
        <div class="link-wrapper">
            <fa name="refresh"></fa>
            <a href="#" class="link">Force sync</a>
        </div>
    </div>
    <div class="row-block">
        <fa name="stethoscope"></fa>
        <div class="column">
            <span>Help desk and Resolution center available:</span>
            <span>I-IV 8:00-18:00, V 8:00-16:45</span>
        </div>
    </div>
</div>
<div class="block v-padding">
    <a href="#" class="link">Groups</a>
    <a href="#" class="link">Frequently contacted</a>
    <a href="#" class="link">Preferences</a>
    <a href="#" class="link">Log out</a>
</div>
