<div class="header">
    <img src="/assets/logo.png" class="logo" alt="Logo"/>
    <app-navigation></app-navigation>
    <app-search></app-search>
    <app-dropdown></app-dropdown>
</div>
<div class="filter">
    <app-filter></app-filter>
    <button class="new-contact">
        <fa name="plus"></fa>
        <span>Add new contact</span>
    </button>
</div>
<div class="content">
    <app-profile [currentContact]="currentContact"></app-profile>
    <app-list (currentContact)="onContactSelect($event)"></app-list>
</div>
<app-footer></app-footer>
