@import '../styles/variables';

:host {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    background: rgb(34,127,122);
    background: -moz-linear-gradient(-45deg, rgba(34,127,122,1) 0%, rgba(27,61,106,1) 100%);
    background: -webkit-linear-gradient(-45deg, rgba(34,127,122,1) 0%,rgba(27,61,106,1) 100%);
    background: linear-gradient(135deg, rgba(34,127,122,1) 0%,rgba(27,61,106,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#227f7a', endColorstr='#1b3d6a',GradientType=1 );

    .header {
        display: flex;
        align-self: stretch;
        align-items: center;
        position: relative;
        background-color: darken($primary, 20);
        padding: 20px;

        .logo {
            max-width: 200px;
        }
    }
    .filter {
        display: flex;
        align-self: stretch;
        justify-content: space-between;
        background-color: rgba(0, 0, 0, 0.2);
        padding: 20px;

        app-filter {
            flex: 1 0 55%;
            max-width: 55%;
        }

        .new-contact {
            border-radius: 20px;
            background-color: $green;
            text-transform: uppercase;
            outline: none;
            border: none;
            color: $white;
            font-size: 15px;
            font-weight: 600;
            padding: 5px 20px;
            cursor: pointer;

            fa[name="plus"] {
                border-radius: 50%;
                background-color: darken($green, 10);
                padding: 5px 8px;
                margin-right: 10px;
            }
        }
    }
    .content {
        display: flex;
        align-self: stretch;
        justify-content: space-between;
        flex: 1;
        padding: 20px;
    }
}
