<div class="label">
    <fa name="user"></fa>
    <span>Jorah Mormont</span>
    <fa name="caret-down"></fa>
</div>
<div class="menu">
    <a href="#" class="link">
        <fa name="group"></fa>
        <span>Groups</span>
    </a>
    <a href="#" class="link">
        <fa name="comment"></fa>
        <span>Frequently contacted</span>
    </a>
    <a href="#" class="link">
        <fa name="wrench"></fa>
        <span>Preferences</span>
    </a>
    <a href="#" class="link">
        <fa name="power-off"></fa>
        <span>Log out</span>
    </a>
</div>
